aiofiles==24.1.0
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
priority==2.0.0
pyaes==1.6.1
Pyrogram==2.0.106
PySocks==1.7.1
Quart==0.19.6
TgCrypto==1.2.5
Werkzeug==3.0.4
wsproto==1.2.0
